@font-face {
  font-family: proxima-nova;
  src: url("font/ProximaNova-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: proxima-nova;
  src: url("font/Proxima Nova Thin.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: proxima-nova;
  src: url("font/Proxima Nova Extrabold.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: proxima-nova;
  src: url("font/Proxima Nova Bold.otf");
  font-weight: 700;
  font-style: normal;
}
body {
  background-color: #222;
  color: #fff;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0 auto 0;
  line-height: 1.5em;
}
@media (max-width: 768px) { 
  .penting {
    padding-left:0 !important;
    padding-right:0 !important;
  }
 }
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 347px) {
  .navbar-brand {
    width: 60%;
  }
  .socialbar {
    display: none;
  }
  .users-count {
    font-size: 15px !important;
  }
  .content h1 {
    font-size: 24px !important;
  }
  .bannerFreeTools {
    width: 100%;
    max-width: 96px !important;
  }
}

@media (max-width: 451px) {
  .text-beginner {
    font-size: 13px !important;
    font-weight: 700 !important;
  }
  .fontKecil {
    font-size: 13px !important;
  }
}
.mustlogin {
  font-size: 16px;
  margin-bottom: 0px;
}
.svgClass {
  width: 40px;
  display: block;
  margin: auto;
}
.text-auto {
  display: block;
  font-weight: 600;
}
.text-beginner {
  font-size: 24px;
  font-weight: 800;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 980px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 980px;
  }
}
header,
header a,
header a:hover {
  color: #fff;
}
.nav-link,
.nav-link:hover {
  color: #fff;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.site-header .widget-area h4 {
  color: #fff;
  font-family: "proxima-nova", Helvetica, Arial;
  font-weight: bold;
  text-decoration: none;
  /* margin: 20px 0 15px 0; */
  padding: 0;
}
.content a {
  color: #6fb4d3;
}

.content h1 {
  font-size: 28px;
  line-height: 36px;
  margin-top: 0;
}

.content h2,
.content h2 a {
  font-size: 25px !important;
  line-height: 1.6em;
  color: #6fb4d3;
  font-weight: 600;
  margin: 30px 0 10px 0;
}

.content h3 {
  font-size: 23px !important;
  line-height: 1.6em;
  margin-top: 20px;
  margin: 20px 0 10px 0;
}

.content h4 {
  font-size: 18px;
  line-height: 1.6em;
  color: #6fb4d3;
  font-weight: 700 !important;
}

.content ol,
ul {
  padding-left: 1rem;
}

.contentbod {
  padding-top: 0rem;
}
a {
  color: #6fb4d3;
  text-decoration: none;
}
a:hover {
  color: #857cf3;
  text-decoration: none;
}
.btn-primary {
  color: #fff !important;
  background-color: #6E65C7;
  border-color: #6E65C7;
}
.btn-primary:hover {
  color: #fff;
  background-color: #65637A;
  border-color: #65637A;
}
.featured-services:hover {
  background-color: #65637A;
}
.bg-primary {
  background-color: #6E65C7 !important;
}
.footer-end {
  color: #868080;
  /* display:block; */
  width: 100%;
  font-weight: 400;
}
.footer-heading {
  font-weight: 700;
  color: #fff;
  margin: 0 0 15px;
  font-size: 16px;
}
.footer-text {
  color: #ccc;
}
.footer-link {
  color: rgba(255, 255, 255, 0.5) !important;
}
footer {
  /* background-color: #1e1812; */
  /* color: rgba(255, 255, 255, 0.8); */
  font-size: 14px;
  color: #464646;
}
.navbar-primary {
  background-color: #222 !important;
  color: #fff;
  z-index: 3;
  min-height: 80px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 3px 20px 3px 15px;
}
.navbar-primary,
.navbar-primary,
.nav-link {
  color: #fff;
}
.card {
  background-color: #303030 !important;
  margin-bottom: 1rem;
}
.link-button {
  color: #fff !important;
}
.userbar {
  color: #fff !important;
  background-color: #6E65C7 !important;
  border-color: #6E65C7;
}
.userbar a {
  color: #fff !important;
  background-color: #6E65C7 !important;
  border-color: #6E65C7;
}
.title a {
  color: #fff !important;
}
.description,
.card-text {
  color: #ccc;
}
.card-footer:hover {
  background-color: #65637A!important;
}
.dropdown-menu {
  background-color: #6E65C7;
}
.btn-secondary {
  color:#fff !important;
}
.bg-seken {
  background-color: #303030;
  color:#fff;
}
.sharesidebar {
  text-align: center !important;
  margin: 0 auto;
  color: #464646;
}
.sharesidebar .sidebar-text {
  font-size: 18px;
  font-weight: 700;
  padding: 0px 0 5px 0;
  text-align: center;
}
.sharesidebar .text-active {
  color: #6E65C7;
}
.sharesidebar p {
  font-size: 14px;
  color: #999;
  font-weight: 400;
  padding: 0px 0 0;
}
.sidebar {
  background-color: #303030 !important;
  margin-bottom: 1rem;
  color:#fff !Important;
}
.sidebar-text {
  color:#fff !Important;
}
.text-link {
  color:#6fb4d3;
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #65637A;
  border-color: #65637A;
}