<!DOCTYPE html>
<html lang="id">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/themes/pudge/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/themes/pudge/css/bootstrap.min.css" />
  </head>

  <body class="text-center">
    <div class="container" style="margin-top: 1rem !important">
      <div class="row justify-content-center">
        <div class="col-12">
          <img
            src="/themes/minsithar/images/many-request.svg"
            width="500"
            height="auto"
            class="img-fluid"
          />
          <h1 class="fw-bold">Too Many Requests</h1>
          <p class="px-2">
            You are doing too much activity, your IP has been banned
            for 1 minute.
          </p>
        </div>
        <div class="col-12 col-md-7 text-center">
          <p class="small text-white bg-dark p-2 rounded mx-3">
            Tip: Wait for 1 minute and you will be able to use the web
            ncse again.
          </p>
          <a href="https://t.me/+vc_AFrcOKkEwZWU1" class="btn btn-success btn-sm"
            ><i class="fab fa-telegram-plane"></i> Join Group Telegram</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
